@import "variables";

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;

    .modale {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        // background-color: rgb(220, 220, 220);
        border-radius: 10px;
        border: 3px solid $blackColor;
        margin: auto;
        .formulaire {
            font-family: var(--font-roboto);
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 50px;
            .input {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                input {
                    width: 300px;
                    height: 40px;
                    border: 0;
                    // border-radius: 10px;
                    border-bottom: 2px solid $blackColor;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
